@use '../styles/breakpoints.scss';

// .canvas {
//   width: 100svw;
//   height: 70svh;
//   background-color: hsl(var(--color-neutral-800));
// }

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  min-height: 100svh;
  font-family: var(--font-geist-sans), var(--font-noto-sans-tc);
}

.container {
  margin: var(--spacing-xl);
}

.canvas_container {
  width: 100svw;
  height: 70svh;
  background-color: black;

  @media (max-width: breakpoints.$md) {
    aspect-ratio: 1 / 1;
    height: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}