@use '@/styles/breakpoints.scss';

.container {
  padding-top: var(--spacing-xl);
  max-width: breakpoints.$xl;
}

.list_section {
  margin-bottom: var(--spacing-2xl);
}

.section_title {
  font-size: var(--spacing-xl);
  margin-bottom: var(--spacing-l);
  color: hsl(var(--color-neutral-800));
}

.list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  gap: var(--spacing-m);
  // padding: var(--spacing-m);

  @media(max-width: breakpoints.$lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media(max-width: breakpoints.$md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media(max-width: breakpoints.$sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}