.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing-3xl);
  padding: var(--spacing-l) 0;
  gap: var(--spacing-l);
}

.footer_link {
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
}