---
import Navbar from "./Navbar.tsx";
import styles from "./header.module.scss";
import { SITE } from "@/config";
---

<header>
  <div class={styles.title}>
    <a href="/">{SITE.title}</a>
  </div>
  <Navbar client:load />
</header>
