---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import styles from "./_page.module.scss";
import Layout from "@/layouts/Layout.astro";
import ShowcaseList from "@/components/ShowcaseList.astro";
---

<Layout>
  <div class={styles.page}>
    <Header />
    <main>
      <div class={styles.container}>
        <h1>Showcase</h1>
        <ShowcaseList />
      </div>
    </main>
    <Footer />
  </div>
</Layout>
